/*Header definition*/
header {
    padding: 1px 1px 1px 1px;
    width: 100%;
    height: 150px;
    background-color: #FFFF00;
    background-image: url('../images/flywheel.jpg') no-repeat;
    background-size: contain;
    text-transform: uppercase;
  }
  
  /*Body settings */
  body {
      padding: 2px 5px 5px 5px;
      margin: 10px 25px 25px 20px;
   
  }
  
  /*Header 1*/
  h1 {
    text-align: center;
    color: #FF0000;}s
  /*Header 2*/  
  h2 {
    text-align: left;
    color: #0000FF;}
  
  
  /*only the navigation elments are in focus */
  nav a {
    display: inline-block;
    width: 20%;
    color: #0000FF;
    text-align: center;
    height: 35px;
    border: 3px solid #73AD21;
    border-radius: 5px;
    margin: 5px 5px 40px 40px;
    padding: 2px 2px 2px 2px;
    text-decoration : none;
    text-transform: capitalize;
    font-weight: bold;}
  
  
  /*The sequence of definition is very important. First hover class, after the active class */
  /* unvisited link */
  nav a:link {
      background-color: #C0C0C0;}
  
  /* visited link */
  nav a:visited {
      background-color: #00FF00;}
  
  /* mouse over link */
  nav a:hover {
      color: #FF0000;}
  
  /* selected link */
  nav a:active {
      background-color: #FFFF00;}
  
  /*Images setting */
  img {
   float: left;
   width: 275px;
   height: 175px;
   margin: 0 0 10px 10px;
        border: 3px solid #73AD21;} 
  
  /*Images only use 25% of the total screen*/
  .left{
    width: 25%;}
  
  /*Text use 100% of the total screen*/
  .right{
    width: 100%;}
  
      