header{
    background-color: rgb(0, 126, 126);
}
h1{
    text-align: center;
    color: rgb(255, 137, 137);

}
h2{
    color: rgb(94, 104, 243);
}
h1, h2{
    text-transform: uppercase;
}
section{
    background-color: rgb(230, 204, 255);
}
a{
    color: rgb(255, 95, 58);
    background-color: rgb(163, 255, 240);
}
img{
    display: none;
}
