body{
    background-color:#2F3148;
    color:#F8F0E3;
}
div.menu{
    display: inline-block;
}
.logo{
    height:50px;
    width: 50px;
}
nav>a{
display: inline;
text-decoration: none; 
text-align: center;
padding: 6px 13px;
margin: 0px 4px 35px 4px;
background-color: #f2d65a;
color: rgb(0, 0, 0);
}
.d_buttons{
    background-color: #f2d65a;
    border-radius: 6px;
    text-decoration: none;
    color: black;
}
div#forma{
    text-align: center;
}
.footerb{
    text-decoration: none;
}
header, footer{
    background-color: #8689AC;
}
header{
height: 75px;
}
.instagram-media{
    display:inline;
}
.n_buttons{
    display: inline;
    text-decoration: none; 
    text-align: center;
    padding: 6px 13px;
    margin: 0px 4px 0px 4px;
    background-color: #f2d65a;
    color: rgb(0, 0, 0);
    }
.na_buttons{
        display: inline;
        text-decoration: none; 
        text-align: center;
        padding: 6px 13px;
        margin: 0px 4px 0px 4px;
        background-color: #88c778;
        color: rgb(0, 0, 0);
        }
.d_links{
            display: inline;
            text-decoration: none; 
            text-align: center;
            padding: 6px 13px;
            margin: 0px 4px 0px 4px;
            background-color: #88c778;
            color: rgb(0, 0, 0);
            }
    