div#project{
    background-color: rgb(161, 121, 255);
}
div#news{
    background-color: rgb(190, 255, 185);
}
div#partners{
    background-color: rgb(255, 248, 150);
}
div#team{
    background-color: rgb(181, 255, 255);
}
div.menu{
    display: inline-block;
}
img{
    height:50px;
    width: 50px;
}
nav>a{
display: inline;
text-decoration: none; 
text-align: center;
padding: 6px 13px;
margin: 0px 4px 35px 4px;
background-color: rgb(252, 255, 50);
color: rgb(0, 0, 0);
}
.d_buttons>a{
    background-color: rgb(255, 225, 56);
    text-align: center;
    border-radius: 15px;
}
div#forma{
    text-align: center;
}
